:root {
    --value_left: 5%;
    --value_right: 20%;
    --origin: --value_left;
    --value2_left: 60%;
    --value2_right: 100%;
    --value3_left: 60%;
    --value3_right: 100%;
    --value4_left: 60%;
    --value4_right: 100%;
    --value5_left: 60%;
    --value5_right: 100%;
    --value6_left: 60%;
    --value6_right: 100%;
    --back-color1: #00dbc9;
    --back-color2: #5460ce;
    --back-color3: #59bdff;
    --hover-color: #ffffff77;
    --focus-color: #ffffff62;
    --text-color: #ffffff;
    --slider-color: #ffffff;
    --sliderline-color: #ffffff77;
}

body {
    background: linear-gradient(217deg, rgba(0, 255, 200, 0.8), rgba(0, 255, 191, 0) 70.71%), linear-gradient(127deg, rgba(98, 0, 255, 0.8), rgba(89, 0, 255, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);
    text-align: center;
    justify-content: center;
}

.neumorphic-btn {
    font-size: 1.2em;
    border: none;
    padding: 5% 10%;
    border-radius: 40px;
    color: var(--text-color);
}

.neumorphic-btn:hover {
    background-color: var(--hover-color);
}

.neumorphic-progress,
.neumorphic-slider,
.neumorphic-slider2,
.neumorphic-slider3,
.neumorphic-slider4,
.neumorphic-slider5,
.neumorphic-slider6 {
    width: 90%;
    margin: auto;
}

.neumorphic-progress__back,
.neumorphic-slider__back {
    height: 24px;
    border-radius: 10px;
    border: 4px solid #f3f4f7;
}

.neumorphic-slider__back {
    width: calc(100% + 20px);
    margin-left: -10px;
}

.neumorphic-progress__line {
    width: var(--value);
    height: 16px;
    background-color: #000000;
    margin-top: -20px;
    margin-left: var(--value_left);
    border-radius: 8px;
    opacity: 1;
    animation: sliding 3s ease infinite;
}

@keyframes sliding {
    0% {
        width: 0;
    }
    100% {
        width: calc(100% - 8px);
    }
}

.neumorphic-slider,
.neumorphic-slider2,
.neumorphic-slider3,
.neumorphic-slider4,
.neumorphic-slider5,
.neumorphic-slider6 {
    position: relative;
}

.neumorphic-slider__line,
.neumorphic-slider__line2,
.neumorphic-slider__line3,
.neumorphic-slider__line4,
.neumorphic-slider__line5,
.neumorphic-slider__line6 {
    height: 16px;
    background-image: linear-gradient(var(--sliderline-color), var(--sliderline-color), var(--sliderline-color));
    margin-top: -20px;
    margin-left: calc(min(var(--value_left), var(--value_right)));
    border-radius: 8px;
    opacity: 1;
    width: calc(max(calc(var(--value_right) - var(--value_left)), calc(var(--value_left) - var(--value_right))));
}

.neumorphic-slider__line2 {
    margin-left: calc(min(var(--value2_left), var(--value2_right)));
    width: calc(max(calc(var(--value2_right) - var(--value2_left)), calc(var(--value2_left) - var(--value2_right))));
}

.neumorphic-slider__line3 {
    margin-left: calc(min(var(--value3_left), var(--value3_right)));
    width: calc(max(calc(var(--value3_right) - var(--value3_left)), calc(var(--value3_left) - var(--value3_right))));
}

.neumorphic-slider__line4 {
    margin-left: calc(min(var(--value4_left), var(--value4_right)));
    width: calc(max(calc(var(--value4_right) - var(--value4_left)), calc(var(--value4_left) - var(--value4_right))));
}

.neumorphic-slider__line5 {
    margin-left: calc(min(var(--value5_left), var(--value5_right)));
    width: calc(max(calc(var(--value5_right) - var(--value5_left)), calc(var(--value5_left) - var(--value5_right))));
}

.neumorphic-slider__line6 {
    margin-left: calc(min(var(--value6_left), var(--value6_right)));
    width: calc(max(calc(var(--value6_right) - var(--value6_left)), calc(var(--value6_left) - var(--value6_right))));
}

.neumorphic-slider__thumb_left,
.neumorphic-slider__thumb2_left,
.neumorphic-slider__thumb3_left,
.neumorphic-slider__thumb4_left,
.neumorphic-slider__thumb5_left,
.neumorphic-slider__thumb6_left {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: var(--slider-color);
    left: var(--value_left);
    top: 2px;
    margin-left: -10px;
    margin-top: 24px;
    cursor: pointer;
}

.neumorphic-slider__thumb2_left {
    left: var(--value2_left);
}

.neumorphic-slider__thumb3_left {
    left: var(--value3_left);
}

.neumorphic-slider__thumb4_left {
    left: var(--value4_left);
}

.neumorphic-slider__thumb5_left {
    left: var(--value5_left);
}

.neumorphic-slider__thumb6_left {
    left: var(--value6_left);
}

.neumorphic-slider__thumb_right,
.neumorphic-slider__thumb2_right,
.neumorphic-slider__thumb3_right,
.neumorphic-slider__thumb4_right,
.neumorphic-slider__thumb5_right,
.neumorphic-slider__thumb6_right {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: var(--slider-color);
    left: var(--value_right);
    top: 2px;
    margin-left: -10px;
    margin-top: 24px;
    cursor: pointer;
}

.neumorphic-slider__thumb2_right {
    left: var(--value2_right);
}

.neumorphic-slider__thumb3_right {
    left: var(--value3_right);
}

.neumorphic-slider__thumb4_right {
    left: var(--value4_right);
}

.neumorphic-slider__thumb5_right {
    left: var(--value5_right);
}

.neumorphic-slider__thumb6_right {
    left: var(--value6_right);
}

.neumorphic-text {
    color: var(--text-color);
    margin: auto 30px;
    font-size: 22px;
}

.neumorphic-checkbox {
    padding: 2% 10% 2%;
    border: none;
    position: relative;
    transition: all .25s ease;
    float: left;
    font-size: 1.2em;
}

.neumorphic-checkbox_active {
    color: #ffffff;
    background-color: var(--focus-color)
}

.neumorphic-card {
    display: block;
    padding: 10px;
    border-radius: 30px;
    width: 100%;
}

.neumorphic-card__title {
    color: var(--text-color);
    font-size: 32px;
    font-weight: bold;
    padding: 0 0 4%;
    text-align: center;
}

.neumorphic-card__text {
    padding: 0 0 0px;
    margin-left: -0px;
    text-align: start;
    color: var(--text-color);
}

.neumorphic-card__outer {
    background-color: #f3f4f7;
    border-radius: 5px;
    border: 5px solid #f3f4f7;
    margin: -5px;
}

.neumorphic-label {
    color: var(--text-color);
    display: block;
    text-align: start;
    margin: 25px 10px 5px;
}

.neumorphic-input {
    border-radius: 10px;
    border: 3px solid #f3f4f7;
    padding: 0px 15px;
    outline: none !important;
    color: var(--text-color);
}

.neumorphic-input:hover {
    background-color: var(--hover-color);
}

.neumorphic-input:focus {
    background-color: var(--focus-color);
}

.neumorphic-image {
    border-radius: 10px;
    justify-content: center;
    border: white;
}

.neumorphic-image__wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50% !important;
    overflow: hidden;
    margin: 0 auto;
    border: white;
}

.neumorphic-image__placeholder {
    color: var(--text-color);
    font-size: 30px;
    padding: 25px 0 0 0;
}

.card-collection .neumorphic-card {
    display: inline-block;
    margin: 0 10px !important;
}

.neumorphic-outer {
    border-radius: 30px;
    width: 90%;
}

@media (min-width: 1121px) {
    .neumorphic-card {
        width: 300px;
    }
    .neumorphic-outer {
        width: 700px
    }
}

.neumorphic-inner {
    border-radius: 10px;
    margin-top: 5%;
}

.neumorphic-tab-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.neumorphic-tab-container__controls {
    display: flex;
    border-radius: 15px;
    margin-bottom: 13px;
    margin-top: 0px;
}

.neumorphic-tab-container__control {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px 10px;
    color: var(--text-color);
    font-weight: normal;
    font-size: 150%;
    transition: box-shadow .4s ease;
    cursor: pointer;
}

.neumorphic-tab-container__control_active {
    background-color: var(--focus-color);
}

.neumorphic-tab-container__control:hover {
    background-color: var(--hover-color);
}

.neumorphic-tab-container__control:focus {
    background-color: var(--focus-colorcolor);
}

.neumorphic-tab-container__control:first-child {
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

.neumorphic-tab-container__control:last-child {
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
}

.neumorphic-tab-container__tab {
    display: none;
    padding-bottom: 0%;
}

.neumorphic-tab-container__tab_shown {
    display: flex;
}