:root {
    --value_left: 20%;
    --value_right: 40%;
    --origin: --value_left;
    --value2_left: 60%;
    --value2_right: 100%;
    --back-color: #f5f5f5;
}

body {
    background-color: var(--back-color);
    text-align: center;
    justify-content: center;
}

.btn:focus {
    outline: none !important;
}

.neumorphic-btn {
    font-size: 20px;
    border: none;
    padding: 10px 40px;
    border-radius: 40px;
    color: rgb(255, 255, 255);
    background-color: var(--back-color);
}

.neumorphic-progress,
.neumorphic-slider,
.neumorphic-slider2 {
    width: 90%;
    margin: auto;
}

.neumorphic-progress__back,
.neumorphic-slider__back {
    height: 24px;
    background-color: var(--back-color);
    border-radius: 10px;
    border: 4px solid #f3f4f7;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgba(255, 255, 255, 1), inset 0px 0px 4px rgba(255, 255, 255, 0), inset 7px 7px 15px rgba(55, 84, 170, .15), inset -7px -7px 20px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2) !important;
}

.neumorphic-slider__back {
    width: calc(100% + 20px);
    margin-left: -10px;
}

.neumorphic-progress__line {
    width: var(--value);
    height: 16px;
    background-color: rgb(34, 179, 179);
    margin-top: -20px;
    margin-left: var(--value_left);
    border-radius: 8px;
    opacity: 1;
    animation: sliding 3s ease infinite;
}

@keyframes sliding {
    0% {
        width: 0;
    }
    100% {
        width: calc(100% - 8px);
    }
}

.neumorphic-slider,
.neumorphic-slider2 {
    position: relative;
}

.neumorphic-slider__line,
.neumorphic-slider__line2 {
    height: 16px;
    background-image: linear-gradient(#ec0076, #ff0080, #000294);
    margin-top: -20px;
    margin-left: calc(min(var(--value_left), var(--value_right)));
    border-radius: 8px;
    opacity: 1;
    width: calc(max(calc(var(--value_right) - var(--value_left)), calc(var(--value_left) - var(--value_right))));
}

.neumorphic-slider__line2 {
    margin-left: calc(min(var(--value2_left), var(--value2_right)));
    width: calc(max(calc(var(--value2_right) - var(--value2_left)), calc(var(--value2_left) - var(--value2_right))));
}

.neumorphic-slider__thumb_left,
.neumorphic-slider__thumb2_left {
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), 0px 0px 15px rgba(55, 84, 170, .3);
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: var(--back-color);
    left: var(--value_left);
    top: 2px;
    margin-left: -10px;
    margin-top: 24px;
    cursor: pointer;
}

.neumorphic-slider__thumb2_left {
    left: var(--value2_left);
}

.neumorphic-slider__thumb_right,
.neumorphic-slider__thumb2_right {
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), 0px 0px 15px rgba(55, 84, 170, .3);
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: var(--back-color);
    left: var(--value_right);
    top: 2px;
    margin-left: -10px;
    margin-top: 24px;
    cursor: pointer;
}

.neumorphic-slider__thumb2_right {
    left: var(--value2_right);
}

.neumorphic-text {
    color: #a3aab9;
    margin: auto 30px;
    font-size: 22px;
}

.neumorphic-checkbox {
    padding: 10px;
    position: relative;
    margin: 0 5px;
    transition: all .25s ease;
}

.neumorphic-checkbox::after {
    position: absolute;
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .25s ease;
}

.neumorphic-checkbox_active {
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgba(255, 255, 255, 1), inset 0px 0px 4px rgba(255, 255, 255, 0), inset 7px 7px 15px rgba(55, 84, 170, .15), inset -7px -7px 20px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2) !important;
    color: #000000;
}

.neumorphic-card {
    display: block;
    background-color: var(--back-color);
    padding: 40px;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2) !important;
    border-radius: 30px;
    width: 100%;
}

.neumorphic-card__title {
    color: rgb(65, 73, 94);
    font-size: 32px;
    padding: 0 0 0;
    text-align: center;
}

.neumorphic-card__text {
    padding: 0 0 0px;
    margin-left: -0px;
    text-align: start;
    color: #8D96A8;
}

.neumorphic-card__outer {
    background-color: #f3f4f7;
    border-radius: 10px;
    border: 5px solid #f3f4f7;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2) !important;
    margin: -5px;
}

.neumorphic-label {
    color: #868b98;
    display: block;
    text-align: start;
    margin: 25px 10px 5px;
}

.neumorphic-input {
    background-color: var(--back-color);
    border-radius: 10px;
    border: 3px solid #f3f4f7;
    box-shadow: 2px 2px 3px rgba(55, 84, 170, .15), inset 0px 0px 4px rgba(255, 255, 255, 0), inset 7px 7px 15px rgba(55, 84, 170, .15), inset -7px -7px 20px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2) !important;
    padding: 5px 15px;
    outline: none !important;
    color: #535D74;
}

.neumorphic-image {
    border-radius: 10px;
    justify-content: center;
}

.neumorphic-image__wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50% !important;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid var(--back-color);
    box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0), inset 3px 3px 5px rgba(55, 84, 170, .15), inset -3px -3px 5px rgba(255, 255, 255, .5), 0px 0px 4px rgba(255, 255, 255, .2) !important;
}

.neumorphic-image__placeholder {
    color: #565e74;
    font-size: 30px;
    padding: 25px 0 0 0;
}

.card-collection .neumorphic-card {
    display: inline-block;
    margin: 0 10px !important;
}

.neumorphic-outer {
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2) !important;
    background-color: var(--back-color);
    border-radius: 30px;
    width: 90%;
}

@media (min-width: 1121px) {
    .neumorphic-card {
        width: 300px;
    }
    .neumorphic-outer {
        width: 700px
    }
}

.neumorphic-inner {
    box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0), inset 7px 7px 15px rgba(55, 84, 170, .15), inset -7px -7px 20px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2) !important;
    border-radius: 10px;
}

.neumorphic-tab-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.neumorphic-tab-container__controls {
    display: flex;
    border: 4px solid var(--back-color);
    width: min-content;
    background-color: var(--back-color);
    border-radius: 15px;
    margin-bottom: 15px;
}

.neumorphic-tab-container__control {
    padding: 10px 10px;
    color: #535D74;
    background-color: var(--back-color);
    box-shadow: inset 0px 0px 4px rgba(255, 255, 255, .2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0);
    transition: box-shadow .4s ease;
    cursor: pointer;
}

.neumorphic-tab-container__control:first-child {
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

.neumorphic-tab-container__control:last-child {
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
}

.neumorphic-tab-container__control_active {
    box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0), inset 7px 7px 15px rgba(55, 84, 170, .15), inset -7px -7px 20px rgba(255, 255, 255, 1);
}

.neumorphic-tab-container__tab {
    display: none;
    padding: 0px;
}

.neumorphic-tab-container__tab_shown {
    display: flex;
}